#####################################
#### Liste des fichiers ignorés  ####
#####################################


*.DS_Store
*.idea
.idea/
*.log
*.aux
*.synctex.gz
Icon\r
Icon%0D
Icon
Icon?
*.swp
*.php_cs.cache
*.phpunit.result.cache
vendor/
